@model CarajWeb.CompanyService.CompanyServiceSoap
 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="flex-box text-center box carDetail-landing">
    @{ Html.RenderPartial("_UserControl"); }
</header>

<section class="default-bg margin-medium box">
    <h2>@Model.CarBrand - @Model.CarModel</h2>
    <section class="flex-box flex-row flex-wrap">
        <div class="box-full text-center flex-box">
            <img class="car__detail-img-small" src="@Model.CarPhotoURL" />
            <div class="car__detail-details">
                <span class="car__text-age">Min age: @Model.MinCustomerAge</span>
                <span class="car__text-age">Daily limit: @Model.MaxKmPerDay km</span>
                <span class="car__text-age">Airbag: @Model.AirBagCount</span>
                <span class="car__text-age">Seat: @Model.CarSeatCount</span>
                <span class="car__text-age">Renter: @Model.CompanyName</span>
                <span class="car__text-price">@Model.CarPriceForRent TL</span>
                <button type="button" class="car__btn-rent">Rent this Car</button>
            </div>
        </div>
    </section>

</section>