@model List<CarajWeb.CarService.CarReturnDto>
    @{ 
        Uri url = new Uri(HttpContext.Current.Request.Url.AbsoluteUri);
        string startDate = HttpUtility.ParseQueryString(url.Query).Get("startDate");
        string finishDate = HttpUtility.ParseQueryString(url.Query).Get("finishDate");
        string startTime = HttpUtility.ParseQueryString(url.Query).Get("startTime");
        string finishTime = HttpUtility.ParseQueryString(url.Query).Get("finishTime");
        string location = HttpUtility.ParseQueryString(url.Query).Get("location");
    }
<header class="flex-box text-center box header-landing">
    @{ Html.RenderPartial("_UserControl"); }
    <div class="container-home">
        <div class="search-home">
            <div class="search-input">
                <label class="search-label" for="location">Where to pick up:</label>
                <input name="location" class="location" id="location" value="@location" type="text" />
            </div>

            <div class="search-input">
                <label class="search-label" for="location">Pick-up date:</label>
                <div class="search-date">
                    <input name="location" class="location location-first" value="@startDate" id="location" type="date" />
                    <input name="location" class="location" id="location" value="@startTime" type="time" />
                </div>
            </div>

            <div class="search-input">
                <label class="search-label" for="location">Return date:</label>
                <div class="search-date">
                    <input name="location" class="location location-first" value="@finishDate" id="location" type="date" />
                    <input name="location" class="location" id="location" value="@finishTime" type="time" />
                </div>
            </div>

            <div class="search-input align-bottom">
                <button class="search-button" type="submit"><i class="fas fa-search"></i> Search</button>
            </div>
        </div>
    </div>
</header>

<section class="default-bg margin-medium box">
    <h2>Available cars for specified dates</h2>
    <section class="flex-box flex-row flex-wrap">

        @foreach (var item in Model)
        {
        <div class="box-3 color-grey text-center">
            <div class="car__img-small" style="background-image: url('@item.CarPhotoURL');"></div>
            <span class="car__text-type">@item.CarBrand - @item.CarModel</span>
            <span class="car__text-age"><b>Min Age: </b>@item.MinCustomerAge</span>
            <span class="car__text-age"><b>Current Km: </b>@item.CarKM</span>
            <span class="car__text-age"><b>Renter: </b>@item.CompanyName</span>
            <span class="car__text-price">@String.Format("{0:0.00}", item.CarPriceForRent) TL</span>
            <div>
                <button type="submit" class="car__btn-rent"><i class="fas fa-info-circle"></i> @Html.ActionLink("Details", "CarDetails/"+ item.CarID, "Home")</button>
                <form method="post" action="/Dashboard/ReservationAddCheck">
                    <button type="submit" class="car__btn-rent"><i class="fas fa-shopping-cart"></i> Rent this car</button>
                    <input type="text" name="location" value="@location" hidden />
                    <input type="text" name="startDate" value="@startDate" hidden />
                    <input type="text" name="startTime" value="@startTime" hidden />
                    <input type="text" name="finishDate" value="@finishDate" hidden />
                    <input type="text" name="finishTime" value="@finishTime" hidden />
                    <input type="text" name="carID" value="@item.CarID" hidden />
                    <input type="text" name="carName" value="@item.CarBrand - @item.CarModel" hidden />
                    <input type="text" name="rent" value="@item.CarPriceForRent" hidden />
                    <input type="text" name="age" value="@item.MinCustomerAge" hidden />
                </form>
            </div>
        </div>
        }
    </section>

</section>