@model Newtonsoft.Json.Linq.JObject
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h1>@Model["carID"]</h1>
<h1>@Model["companyName"]</h1>
<h1>@Model["carBrand"]</h1>
<h1>@Model["carModel"]</h1>
<h1>@Model["minDrivingLicenseAge"]</h1>
<h1>@Model["maxKmPerDay"]</h1>

<p>Use this area to provide additional information.</p>
