@model Newtonsoft.Json.Linq.JObject

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="flex-box text-center box carDetail-landing">
    @{ Html.RenderPartial("_UserControl"); }
</header>
<section class="default-bg margin-medium box">
    <h2>Edit Car</h2>
    <section class="flex-box-paddingS">
        <div class="profile__detail-details text-center flex-box-full">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model["carBrand"], htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model["carBrand"], new { htmlAttributes = new { @class = "form -control" } })
                            @Html.ValidationMessageFor(model => model["carBrand"], "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model["carModel"], htmlAttributes: new { @class = "control -label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model["carModel"], new { htmlAttributes = new { @class = "form -control" } })
                            @Html.ValidationMessageFor(model => model["carModel"], "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model["minDrivingLicenseAge"], htmlAttributes: new { @class = "control -label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model["minDrivingLicenseAge"], new { htmlAttributes = new { @class = "form -control" } })
                            @Html.ValidationMessageFor(model => model["minDrivingLicenseAge"], "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model["minCustomerAge"], htmlAttributes: new { @class = "control -label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model["minCustomerAge"], new { htmlAttributes = new { @class = "form -control" } })
                            @Html.ValidationMessageFor(model => model["minCustomerAge"], "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model["maxKmPerDay"], htmlAttributes: new { @class = "control -label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model["maxKmPerDay"], new { htmlAttributes = new { @class = "form -control" } })
                            @Html.ValidationMessageFor(model => model["maxKmPerDay"], "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model["carKM"], htmlAttributes: new { @class = "control -label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model["carKM"], new { htmlAttributes = new { @class = "form -control" } })
                            @Html.ValidationMessageFor(model => model["carKM"], "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model["airBagCount"], htmlAttributes: new { @class = "control -label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model["airBagCount"], new { htmlAttributes = new { @class = "form -control" } })
                            @Html.ValidationMessageFor(model => model["airBagCount"], "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model["carTrunkVolume"], htmlAttributes: new { @class = "control -label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model["carTrunkVolume"], new { htmlAttributes = new { @class = "form -control" } })
                            @Html.ValidationMessageFor(model => model["carTrunkVolume"], "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model["carSeatCount"], htmlAttributes: new { @class = "control -label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model["carSeatCount"], new { htmlAttributes = new { @class = "form -control" } })
                            @Html.ValidationMessageFor(model => model["carSeatCount"], "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model["carPriceForRent"], htmlAttributes: new { @class = "control -label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model["carPriceForRent"], new { htmlAttributes = new { @class = "form -control" } })
                            @Html.ValidationMessageFor(model => model["carPriceForRent"], "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model["carPhotoURL"], htmlAttributes: new { @class = "control -label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model["carPhotoURL"], new { htmlAttributes = new { @class = "form -control" } })
                            @Html.ValidationMessageFor(model => model["carPhotoURL"], "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "List")
            </div>

        </div>
    </section>

</section>