@model List<Newtonsoft.Json.Linq.JObject>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="flex-box text-center box carDetail-landing">
    @{ Html.RenderPartial("_UserControl"); }
</header>
<section class="default-bg margin-medium box">
    <h2>Cars</h2>
    <section class="flex-box-paddingS">
        <div class="profile__detail-details text-center flex-box-full">
            @Html.ActionLink("Create New", "Create")
            @if (@TempData["Message"] != null)
            {
                <span class="message-success">@TempData["Message"]</span>
            }
            <table class="table">
                <tr>
                    <th>
                        Car Brand
                    </th>
                    <th>
                        CarModel
                    </th>
                    <th>
                        MinDrivingLicenseAge
                    </th>
                    <th>
                        MinCustomerAge
                    </th>
                    <th>
                        MaxKmPerDay
                    </th>
                    <th>
                        CarKM
                    </th>
                    <th>
                        AirBagCount
                    </th>
                    <th>
                        CarTrunkVolume
                    </th>
                    <th>
                        CarSeatCount
                    </th>
                    <th>
                        CarPriceForRent
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item["carBrand"]
                        </td>
                        <td>
                            @item["carModel"]
                        </td>
                        <td>
                            @item["minDrivingLicenseAge"]
                        </td>
                        <td>
                            @item["minCustomerAge"]
                        </td>
                        <td>
                            @item["maxKmPerDay"]
                        </td>
                        <td>
                            @item["carKM"]
                        </td>
                        <td>
                            @item["airBagCount"]
                        </td>
                        <td>
                            @item["carTrunkVolume"]
                        </td>
                        <td>
                            @item["carSeatCount"]
                        </td>
                        <td>
                            @item["carPriceForRent"]
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { carID = item["carID"] }) |
                            @Html.ActionLink("Details", "../Home/CarDetails/" + item["carID"], "", new { id = item["carID"] })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </section>

</section>