@model List<Newtonsoft.Json.Linq.JObject>

@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="flex-box text-center box carDetail-landing">
    @{ Html.RenderPartial("_UserControl"); }
</header>
<section class="default-bg margin-medium box">
    <h2>Reservations</h2>
    <section class="flex-box-paddingS">
        <div class="profile__detail-details text-center flex-box-full">
            <table class="table">
                <tr>
                    <th>
                        Customer ID
                    </th>
                    <th>
                        Car ID
                    </th>
                    <th>
                        Rent Start Date
                    </th>
                    <th>
                        Rent End Date
                    </th>
                    <th>
                        Starting Kilometer
                    </th>
                    <th>
                        Ending Kilometer
                    </th>
                    <th>
                        Pricing
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item["carID"]
                    </td>
                    <td>
                        @item["customerID"]
                    </td>
                    <td>
                        @item["rentStartDate"]
                    </td>
                    <td>
                        @item["rentEndDate"]
                    </td>
                    <td>
                        @item["startingKilometer"]
                    </td>
                    <td>
                        @item["endingKilometer"]
                    </td>
                    <td>
                        @String.Format("{0:0.00}", item["pricing"]) TL
                    </td>
                </tr>
                }

            </table>
        </div>
    </section>

</section>